html,
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  cursor: none;
}
/* want to update this to come up with custom idea */
.cursor {
  width: 20px;
  height: 20px;
  border: 1px solid white;

  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  transition: none;
  animation: cursorAnim 0.5s infinite alternate;
  pointer-events: none;
}

.cursor::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border: 8px solid gray;
  border-radius: 50%;
  opacity: 0.5;
  top: -8px;
  left: -8px;
  animation: cursorAnim2 0.5s infinite alternate;
}

@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}

@keyframes cursorAnim2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.4);
  }
}

@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.expand {
  animation: cursorAnim3 0.5s forwards;
  border: 1px solid red;
}

.grid-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 50px 1fr 1fr 50px;
  grid-template-areas: "header" "hero" "projects" "contact" "footer";
}

.header-nav {
  grid-area: header;
  display: flex;
  justify-content: space-around;
}

.hero-section {
  grid-area: hero;
  display: flex;
  /* background-color: gray; */
  justify-self: stretch;
  justify-content: center;
}

.projects {
  grid-area: projects;
  display: flex;
  justify-content: space-around;
}

.project-1 {
  /* background-color: gray; */
}

.project-2 {
  /* background-color: gray; */
}

.project-3 {
  /* background-color: gray; */
}

.image-container {
  /* background-color: darkgrey; */
}

.portfolio-descripition {
  background-color: black;
}

.contact-section {
  grid-area: contact;
  /* background-color: #808080; */
  justify-self: stretch;
}

.contact-cta {
  display: flex;
  justify-self: center;
}

.input-form {
  display: flex;
  justify-self: center;
}

.footer-area {
  grid-area: footer;
  display: flex;
  /* background-color: gray; */
  justify-content: center;
}
